@import url('reset.css');
@import url('./tokens/index.css');
@import url('vars.css');

:root {
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@font-face {
    font-family: 'Inter';
    src: url('../inter.woff2');
}
